
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- BOOSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- fontawesome_icons -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
  
  <!-- custom CSS -->
    <title>
        {% block title %}
        
        {% endblock %}
    </title>
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="#"> <img src="{% static 'images/logo.png' %}" alt="Blog con Django"></a>
      <button id="menubutton" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto smooth-scroll">
                <li class="nav-item active">
                  <a class="nav-link waves-effect waves-light"  href="{% url 'init_list_articles' %}">Home
                  </a>
                </li>
                 {% if user.email %}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Categorías
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      {% for categoria in categories %}
                      <a class="dropdown-item" href="{% url 'categoriiia' categoria.0 %}">{{categoria.1}}</a>
                      <div class="dropdown-divider"></div>
                      {% endfor %}
                    </div>
                </li>
                  {% for page in pages %}
                    <li class="nav-item">
                    <a class="nav-link waves-effect waves-light"  href="{% url 'page' page.2 %}">{{page.1}}
                    </a>
                    {% comment %} page.1 es para sacar el elemento 1 (titulo) del objeto page que viene de pages.context_processor.py {% endcomment %}
                  </li>
                  {% endfor %}
                 <li class="nav-item">
                  <a class="nav-link waves-effect waves-light"  href="{% url 'logout'%}">Logout
                  </a>
                </li>
                {% else %} 
                <li class="nav-item">
                  <a class="nav-link waves-effect waves-light"  href="{% url 'register'%}">Registro
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link waves-effect waves-light"  href="{% url 'login'%}">Login
                  </a>
                </li>
                {% endif %} 
              </ul>

              <!--Social Icons-->
              <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                  <a class="nav-link waves-effect waves-light">
                    <i class="fab fa-facebook-f light-green-text"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link waves-effect waves-light">
                    <i class="fab fa-twitter light-green-text"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link waves-effect waves-light">
                    <i class="fab fa-instagram light-green-text"></i>
                  </a>
                </li>
              </ul>
            </div>
    </nav>

    {% comment %} slider {% endcomment %}
     {% include 'layouts/slider.html'%}
  </header>


    <!--Codigo que viene de las diferentes templates-->
  <div id="content">
    <div class="box">
      {% block content %}
            
      {% endblock %}
    </div>
  </div>

  <footer>{% now "Y"%} CoRe Solution - Blog Django &copy;</footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>